<footer>

    <button><img src="/projects/all-icons/arrow-up.svg" alt="Back to Top"></button>

    <div>
        <a href="/projects/blog/about">about us</a>
        <a href="/projects/blog/contact">contact us</a>
        <a href="/projects/blog/terms">terms of use</a>
        <a href="/projects/blog/privacy">privacy police</a>
    </div>



    © All rights reserved.
</footer>



<noscript>
    You need to enable JavaScript to run this app.
</noscript>


<script src="/projects/blog/script.js"></script>